<html>
<head></head>
<title>检查表下载</title>
<body>
<h1>上海好臻鲜贸易有限公司  快递费核对系统</h1>
<div style="background-image:url(http://localhost:8088/static/img/img02.jpg);height:250px" >
<form>
<a href="{{ filename1 }}"><input type="button" name="button" value="没有重量的商品清单 下载"></a>
<p></p>
<a href="{{ filename2 }}"><input type="button" name="button" value="快递费比较 下载"></a>
<p></p>
<a href="/"><input type="button" name="button" value="返回主页"></a>
</form>
</div>
<p>文件说明：</p>
<p>1. 请先下载：《没有重量的商品清单》， 这里面的商品重量请维护到《产品信息标准》，否则重量默认是0</p>
<p>1. 在《快递费比较》中，最后一列将提示产品名称或数量有明显错误的订单，该商品不计入快递费中。</p>
</body>
</html>
